[submodule "3rd_party/QSimpleUpdater"]
	path = 3rd_party/QSimpleUpdater
	url = https://github.com/SSemenkin/QSimpleUpdater.git
[submodule "MapGraphics"]
	path = MapGraphics
	url = https://github.com/SSemenkin/MapGraphics.git
